{% extends 'website/base.html' %}

{% block content %}

    {% include 'website/includes/header.html' %}
    <style>
        .d-active-778 {
            display: none;
        }

        @media (max-width: 778px) {
            .d-none-778 {
                display: none;
            }

            .d-active-778 {
                display: block;
            }
        }
    </style>
    <div class="container-fluid shadow p-3 pt-5 mb-5 rounded"><br>
        <div class="row">
            <div class="col-lg-2 col-md-3 d-none-778 p-0"
                 style="height:95vh; overflow-y:auto; position:sticky; top:8vh">
                <div class="row px-3">
                    <div class="col-12 rounded text-center d-flex align-items-center gap-2 bg-white w-100 p-2">
                        <img src="https://cdn.freebiesupply.com/logos/large/2x/it-2-logo-png-transparent.png"
                             width="30">
                        <span class="fs-5">IT жаңылыктар</span>
                    </div>
                    {% for i in it %}
                        <div class="col-12 rounded bg-white w-100 p-2 my-2">
                            <div class="d-flex align-items-center justify-content-center rounded p-1 bg-light"
                                 style="min-width:100%; max-width:100%; min-height:180px; max-height:180px;">
                                <a href="{{ i.link }}" target="_blank">
                                    <img src="{{ i.img }}" class="rounded" style="max-width: 100%; max-height:180px;">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <style>
                    .particles {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .particles div {
                        position: absolute;
                        text-align: center;
                        font-size: 30px;
                        font-weight: bold;
                        line-height: 40px;
                        color: #FFF;
                        font-family: 'Roboto', sans-serif;
                        text-transform: uppercase;

                    }

                    .particles canvas {
                        width: 100%;
                        height: 500px;
                        background: url(https://kb-learn.oshsu.kg/media/media/photo/2024/10/16/IMG_2511.jpg);
                        background-position: center center;
                        background-size: cover;

                    }

                    .flesh {
                        color: gold;
                    }
                </style>
                <div class="particles">
                    <canvas></canvas>
                    <div style="text-shadow: rgb(0, 0, 0) 1px 0 10px;">ОшМУ МФТИТ институту <br/> Компьютердик борбор
                        окуу
                        лабораториясы
                        <br/>
                        <br/>
                        <p class='fs-5'>
                            Категориялар: {{ dataCat|length }} <i class="flesh">/</i> Сабактар: {{ dataNameCat|length }}
                            <i
                                    class="flesh">/</i> Темалар: {{ dataTheme|length }}
                        </p>
                    </div>
                </div>

                <script>
                    const canvas = document.querySelector('canvas');
                    const ctx = canvas.getContext('2d');
                    const RESOLUTION = 1;
                    let w = canvas.width = canvas.offsetWidth * RESOLUTION;
                    let h = canvas.height = canvas.offsetHeight * RESOLUTION;
                    const PARTICLE_COUNT = 400;
                    const CONNECT_DISTANCE = w * 0.06;
                    const FORCE_DISTANCE = w * 0.2;
                    const r = (n = 1) => Math.random() * n;
                    const PI = Math.PI;
                    const TAU = PI * 2;
                    let time = new Date;
                    const lerp = (start, end, amt) => {
                        return (1 - amt) * start + amt * end
                    };
                    const distance = (x1, y1, x2, y2) => {
                        const a = x1 - x2;
                        const b = y1 - y2;
                        return Math.sqrt(a * a + b * b);
                    };
                    const angle = (cx, cy, ex, ey) => {
                        return Math.atan2(ey - cy, ex - cx);
                    };
                    const particlePrototype = () => ({
                        x: w * 0.5 + (Math.cos(r(TAU)) * r(w * 0.5)),
                        y: h * 0.5 + (Math.sin(r(TAU)) * r(h * 0.5)),
                        angle: r(TAU),
                        speed: r(0.15),
                        normalSpeed: r(0.15),
                        oscAmplitudeX: r(2),
                        oscSpeedX: 0.001 + r(0.008),
                        oscAmplitudeY: r(2),
                        oscSpeedY: 0.001 + (r(0.008)),
                        connectDistance: r(CONNECT_DISTANCE),
                        color: {
                            r: Math.round(200 + r(55)),
                            g: Math.round(150 + r(105)),
                            b: Math.round(200 + r(55))
                        }
                    });
                    const particles = (new Array(PARTICLE_COUNT))
                        .fill({})
                        .map(particlePrototype);
                    const update = () => {
                        particles.forEach(p1 => {
                            p1.x += (Math.cos(p1.angle) + (Math.cos(time * p1.oscSpeedX) * p1.oscAmplitudeX)) * p1.speed;
                            p1.y += (Math.sin(p1.angle) + (Math.cos(time * p1.oscSpeedY) * p1.oscAmplitudeY)) * p1.speed;
                            p1.speed = lerp(p1.speed, p1.normalSpeed * RESOLUTION, 0.1);
                            if (p1.x > w || p1.x < 0) {
                                p1.angle = PI - p1.angle;
                            }
                            if (p1.y > h || p1.y < 0) {
                                p1.angle = -p1.angle;
                            }
                            if (r() < 0.005)
                                p1.oscAmplitudeX = r(2);
                            if (r() < 0.005)
                                p1.oscSpeedX = 0.001 + (r(0.008));
                            if (r() < 0.005)
                                p1.oscAmplitudeY = r(2);
                            if (r() < 0.005)
                                p1.oscSpeedY = 0.001 + r(0.008);

                            p1.x = Math.max(-0.01, Math.min(p1.x, w + 0.01));
                            p1.y = Math.max(-0.01, Math.min(p1.y, h + 0.01));
                        });
                    };
                    const render = () => {
                        ctx.clearRect(0, 0, w, h);
                        particles.map(p1 => {
                            particles
                                .filter(p2 => {
                                    if (p1 == p2)
                                        return false;
                                    if (distance(p1.x, p1.y, p2.x, p2.y) > p1.connectDistance)
                                        return false;
                                    return true;
                                })
                                .map(p2 => {
                                    const dist = distance(p1.x, p1.y, p2.x, p2.y);
                                    p1.speed = lerp(p1.speed, p1.speed + (0.05 / p1.connectDistance * dist), 0.2);
                                    return {
                                        p1,
                                        p2,
                                        color: p1.color,
                                        opacity: Math.floor(100 / p1.connectDistance * (p1.connectDistance - dist)) / 100
                                    };
                                })
                                .forEach((line, i) => {
                                    const colorSwing = Math.sin(time * (line.p1.oscSpeedX));
                                    ctx.beginPath();
                                    ctx.globalAlpha = line.opacity;
                                    ctx.moveTo(line.p1.x, line.p1.y);
                                    ctx.lineTo(line.p2.x, line.p2.y);
                                    ctx.strokeStyle = `rgb(
                            ${Math.floor(line.color.r * colorSwing)},
                            ${Math.floor((line.color.g * 0.5) + ((line.color.g * 0.5) * colorSwing))},
                            ${line.color.b}
                            )`
                                    ctx.lineWidth = (line.opacity * 4);
                                    ctx.stroke();
                                    ctx.closePath();
                                });
                        });
                    };
                    const loop = () => {
                        time = new Date;
                        update();
                        render();
                        window.requestAnimationFrame(loop);
                    };
                    loop();
                    window.addEventListener('mousemove', e => {
                        const mouseX = (e.clientX - canvas.getBoundingClientRect().left) * RESOLUTION;
                        const mouseY = (e.clientY - canvas.getBoundingClientRect().top) * RESOLUTION;
                        particles.forEach(p => {
                            const dist = distance(mouseX, mouseY, p.x, p.y);
                            if (dist < FORCE_DISTANCE && dist > 0) {
                                p.angle = angle(mouseX, mouseY, p.x, p.y)
                                const force = (FORCE_DISTANCE - dist) * 0.1;
                                p.speed = lerp(p.speed, force, 0.2);
                            }
                        });
                    });
                </script>


                <div class="row">
                    <h4 class="text-center p-2 shadow bg-white rounded my-2 " style="width:99%;margin:0px 0.5%">
                        Биздин окумалар
                    </h4>
                </div>
                <div class="row">
                    {% for data in dataCat %}
                        <div class="p-2 shadow bg-white rounded my-2 " style="width:99%;margin:0px 0.5%">
                            <div class="text-dark p-2"
                                 style="background: linear-gradient(135deg, #2c3e50 0%, #34495e 100%);">
                        <span class="text-warning" style="font-size:1.2rem">
                            {{ data.title }}
                        </span>
                            </div>

                            <div class="row p-2">
                                <style>
                                    #mini_mune:hover {
                                        background-color: red;
                                    }
                                </style>
                                {% for dName in dataNameCat %}
                                    {% if data.id == dName.id_cat_id %}
                                        <div class="col-md-3 col-sm-6 col-12 p-1">

                                            <a class=" text-center shadow border rounded h-100 d-flex align-items-center justify-content-center p-2 py-3 w-100 fs-6 text-decoration-none text-dark"
                                               id='mini_menu' href="{% url 'cat' dName.id %}">{{ dName.title }}</a>

                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>

                    {% endfor %}
                </div>


                <div class="row mb-2 d-flex justify-content-center">
                    <h4 class="text-center p-2 shadow bg-white rounded my-2 w-100">
                        Жаңылыктар
                    </h4>

                    {% for i in news %}
                        <div class="col-12 col-md-6 col-lg-6 mb-3 d-flex">
                            <div class="shadow bg-white rounded border w-100">
                                <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                                    <div class="col p-4 d-flex flex-column position-static bg-white text-dark">
                                        <a href="{% url 'post_detail' i.id %}" class="stretched-link text-info">
                                            <span class="mb-0 fs-5 text-dark">{{ i.title|truncatechars:50 }}</span>
                                        </a>
                                        <div class="mb-1 text-dark fs-6">{{ i.date }}</div>
                                    </div>

                                    {% if i.img %}
                                        <div class="col-auto d-none d-lg-block">
                                            <img src="{{ i.img.url }}" class="bd-placeholder-img" width="100%"
                                                 height="auto"
                                                 style="min-height:300px; object-fit: cover;">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
            <div class="col-md-2 col-sm-6 d-active-778 p-0">
                <div class="row px-3">
                    <div class="col-12 rounded text-center d-flex align-items-center gap-2 bg-white w-100 p-2">
                        <img src="https://cdn.freebiesupply.com/logos/large/2x/it-2-logo-png-transparent.png"
                             width="30">
                        <span class="fs-5">IT жаңылыктар</span>
                    </div>
                    {% for i in it %}
                        <div class="col-12 rounded bg-white w-100 p-2 my-2">
                            <div class="d-flex align-items-center justify-content-center rounded p-1 bg-light"
                                 style="min-width:100%; max-width:100%; min-height:180px; max-height:180px;">
                                <a href="{{ i.link }}" target="_blank">
                                    <img src="{{ i.img }}" class="rounded" style="max-width: 100%; max-height:180px;">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 p-0" style="height:95vh; overflow-y:auto; position:sticky; top:8vh">
                <div class="row px-3">
                    <div class="col-12 rounded text-center d-flex align-items-center gap-2 bg-white w-100 p-2">
                        <img src="https://www.oshsu.kg/main/images/logo/white-logo.svg" width="30">
                        <span class="fs-5">ОшМУ жаңылыктар</span>
                    </div>

                    {% for res in info %}
                        <div class="col-12 rounded bg-white w-100 p-2 my-2">
                            <div class="d-flex align-items-center justify-content-center rounded p-1 bg-light"
                                 style="min-width:100%; max-width:100%; min-height:180px; max-height:180px;">
                                <a href="{{ res.link }}" target="_blank">
                                    <img src="{{ res.img }}" class="rounded" style="max-width: 100%; max-height:180px;">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>

        document.querySelector("body").style.background = "#eee";

    </script>



    {% include 'website/includes/footer.html' %}
{% endblock %}